<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title}">App</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <link rel="prev" th:if="${p != null and !p.first}"
          th:href="@{__${#httpServletRequest.requestURI}__(page=${p.number - 1}, size=${p.size})}"/>
    <link rel="next" th:if="${p != null and !p.last}"
          th:href="@{__${#httpServletRequest.requestURI}__(page=${p.number + 1}, size=${p.size})}"/>
</head>
</html>